.application {
  &-logo {
    img {
      width: 140px;
      height: 140px;
      border-radius: 20px;
    }
  }

  &-title {
    margin-top: .75rem;
    font-size: 1.1rem;
  }

  &-repository {
    &-content {
      font-size: .8rem;
      color: grey;
      border: 1px solid darkgrey;
      border-radius: 1000px;
      display: inline-block;
      padding: .1rem .5rem;
      margin-top: .25rem;
    }
  }
}

.badge-menu-buttons {
  font-size: 1.05rem;
  margin: 0 .5rem;
  font-weight: normal;
}

.module-link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.module-display-header {
  &-logo {
    display: inline-block;

    img {
      width: 145px;
      border-radius: 20px;
    }
  }

  &-text {
    display: inline-block;
    vertical-align: top;
  }

  &-title {
    font-size: 1.4rem;
  }

  &-subtitle {
  }

  &-description {
    margin-top: 1rem;
    font-size: 1rem;
  }

  &-edit-button {
    float: right;
  }
}

.module-display-body {
  &-screenshots {
    img {
      width: 100%;
      margin-bottom: 1rem;
    }

    &-title {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
  }
}

.git-checker {
  border: 2px solid $primary;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0 .25rem .25rem .25rem;

  &-title {
    background-color: $primary;
    color: white;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 0 0 1rem 0;
  }
}