.application {
  &-logo {
    img {
      width: 140px;
      height: 140px;
      border-radius: 20px;
    }
  }

  &-title {
    margin-top: .75rem;
    font-size: 1.1rem;
  }

  &-repository {
    &-content {
      font-size: .8rem;
      color: grey;
      border: 1px solid darkgrey;
      border-radius: 1000px;
      display: inline-block;
      padding: .1rem .5rem;
      margin-top: .25rem;
    }
  }
}

.badge-menu-buttons {
  font-size: 1.05rem;
  margin: 0 .5rem;
  font-weight: normal;
}